/*********************************
	* text style
	*********************************/

.test-box {
    width: 75px;
    height: 75px;
    position: absolute;
    border: 1px solid pink;
    top: 40%;
    left: 7%;
    z-index: 10000;
}

.flex {
  width: 70%;
  top: 30%;
  left: 15%;
}

.fixed {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.main-container {
  background-color: #000;
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  background-color: #000;
  overflow: scroll;
}

img {
    border-style: none;
}

a:hover img {
    border-style: none;
}

img.photo {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.holder {
    width: 100%;
    border: #fff;
    /*	border: 1px solid white;*/
    color: #ffffff;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.holder h1 {
    font-size: 3.1em;
    vertical-align: top;
    padding: 30px 50px 0 30px;
}

.holder p {
    font-size: 1.5em;
    padding: 0 50px 0 30px;
}

.img_holder {
		float: left;
    width: 60%;
    vertical-align: top;
}

.text_holder {
		float: left;
    width: 40%;
    vertical-align: top;
    margin-bottom: 150px;
}

.fullscreen {
    background-color: #000;
}

p.item {
    padding: 20px;
}


/* MODALS */

.modal-image {
  float: left;
  width: 40%;
  text-align: center;
  /*position: relative;*/
}

.modal-content {
  float: left;
  width: 60%;
  vertical-align: middle;
}

/* MEDIA QUERIES */

@media (min-width: 767px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
    }
    h3 {
        font-size: 1.5em
    }
}

@media (max-width: 1100px) {
  .thumbs-container {
    position: fixed;
  }
}

@media (max-width: 800px) {
  .img_holder {
    width: 100%;
  }
  .text_holder {
    width: 100%;
    margin-bottom: 150px;
  }
}
